@import "tailwindcss";

@theme {
  --color-brand-primary-orange: #ff733c;
  --color-brand-primary-green: #32be50;
  --color-brand-secondary-black: #1b1b1b;
  --color-brand-primary-black: #000000;
  --color-brand-primary-white: #ffffff;
  --color-brand-primary-gray: #cdd2dc;
  --color-brand-secondary-gray: #545454;
  --color-brand-tertiary-gray: #737373;
  --color-brand-primary-blue: #5a698c;
}

@utility font-xs {
  @apply text-[14px] leading-[20px] font-normal;
}
@utility font-xs-medium {
  @apply text-[14px] leading-[20px] font-[550];
}
@utility font-xs-bold {
  @apply text-[14px] leading-[20px] font-[850];
}
@utility font-sm-medium {
  @apply text-[16px] leading-[19px] font-[550];
}
@utility font-sm {
  @apply text-[16px] leading-[24px] font-normal;
}
@utility font-sm-plus-medium {
  @apply text-[16px] leading-[24px] font-[550];
}
@utility font-sm-bold {
  @apply text-[16px] leading-[24px] font-[850];
}
@utility font-md {
  @apply text-[18px] leading-[28px] font-normal;
}
@utility font-md-plus {
  @apply text-[21px] leading-[32px] font-normal;
}
@utility font-md-plus-medium {
  @apply text-[21px] leading-[32px] font-[550];
}
@utility font-md-plus-bold {
  @apply text-[21px] leading-[32px] font-[850];
}
@utility font-lg {
  @apply text-[28px] leading-[40px] font-[850];
}
@utility font-xl {
  @apply text-[38px] leading-[38px] font-bold;
}
@utility font-xl-plus {
  @apply text-[38px] leading-[52px] font-[850];
}
@utility font-2xl {
  @apply text-[50px] leading-[52px] font-bold;
}
@utility font-2xl-wide {
  @apply text-[58px] leading-[60px] font-bold;
}
@utility font-3xl {
  @apply text-[77px] leading-[80px] font-bold;
}

@utility btn-base {
  @apply px-3 py-1 rounded-sm border-[1px] no-underline cursor-pointer;
}

@utility btn-primary-style {
  @apply bg-brand-primary-green text-brand-secondary-black border-brand-primary-black;
  @apply hover:text-brand-primary-white;
  @apply active:bg-brand-secondary-black active:text-brand-primary-white;
}

@layer component {
  .btn-primary {
    @apply btn-base btn-primary-style;
  }

  .btn-primary-over-rounded {
    @apply btn-base btn-primary-style;

    @apply rounded-[27px] px-4;
  }

  .btn-ghost {
    @apply btn-base;

    @apply bg-transparent text-brand-primary-white border-brand-primary-white;
    @apply hover:text-brand-primary-gray hover:border-brand-primary-gray;
    @apply active:text-brand-primary-orange active:border-brand-primary-orange;
  }

  .btn-nav {
    @apply text-brand-primary-white px-6 py-3 no-underline cursor-pointer font-xs xl:font-xs-medium  h-full;
    @apply hover:text-brand-primary-gray hover:border-brand-primary-gray;
    @apply active:text-brand-primary-orange active:border-brand-primary-orange;
  }
}
